{% extends 'authentication/base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
    <h2>{% trans "Register" %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <div>
            <strong>{% translate "Password Strength" %}:</strong>
            <div id="password-strength">{% trans "Please enter a password" %}.</div>
        </div>
        <button type="submit" style="margin-top: 8px;">{% translate "Register" %}</button>
    </form>
</div>
{% endblock %}
