<!-- templates/base.html -->
{% load i18n %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='{% static 'css/bootstrap.min.css' %}' type='text/css'>
  <title>{% block title %}{% trans "Django Auth Mail" %}{% endblock %}</title>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center p-5 bg-body-tertiary rounded-3">
      {% if user.is_authenticated %}
        {% trans "Hi"%} {{ user.username }}!
          <div class="user_panel">
             <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="submit" name="logout" value={% trans "Logout" %}>
             </form>
          </div>
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language">
            <option value="en">English</option>
            <option value="es">Español</option>
        </select>
        <input type="submit" value={% trans "Change Language" %}>
    </form>
      {% else %}
      <p>{% trans "You are not logged in" %}</p>
          <div class="user_panel">
            <a href="/auth/login">{% trans "login" %}</a>
          </div>
      {% endif %}
      <div class="col-lg-6 text-center">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>

</html>
