<!-- templates/base.html -->
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% load static %}
  <title>{% block title %}
{% if title %}
    {{ title }}
{% else %}
    {% trans "Django Auth Mail" %}
{% endif %}
  {% endblock %}</title>
</head>

<body>
  <div class="container">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
{% if title %}
            {{ title }}
{% else %}
            {% trans "Django Auth Mail" %}
{% endif %}
          </a>
        </div>
        <div id="navbarSupportedContent">
          <ul class="nav navbar-nav">
{% if user.is_authenticated %}
            <li class="nav-item" style="margin-right: 50px;">
              {% trans "Hi"%} {{ user.username }}!
            </li>
            <li class="nav-item" style="margin-right: 50px;">
              <a class="nav-link" href="{% url 'home' %}">{% trans "Home" %}</a>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="submit" name="logout" value={% trans "Logout" %}>
              </form>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
              <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language">
                  <option value="en">{% trans "English" %}</option>
                  <option value="es">{% trans "Spanish" %}</option>
                </select>
                <input type="submit" value={% trans "Change Language" %}>
              </form>
            </li>
{% endif %}
          </ul>
{% if not user.is_authenticated %}
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" style="margin-right: 50px;">
              <a class="nav-link" href="/auth/login">{% trans "login" %}</a>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
              <small>{% trans "Do you need an account" %}?<a class="nav-link" href="{%  url 'registration' %}">{% trans "Sign Up Now" %}</a></small></div>
            </li>
          </ul>
{% endif %}
        </div>
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="col-lg-6 text-center">
      {% block content %}{% endblock %}
    </div>
  </div>
  <footer class="footer">
    <div class="container">
     <span>
       {% trans "Powered by" %} Pascal Carrié
     </span>
    </div>
  </footer>
</body>
</html>
